body {
    background: #faa763;
    background-image: linear-gradient(#faa763, #ff8e31);
}

body,
html {
    height: 100%;
}

h1 {
    font-size: 3em;
    font-weight: 800;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}